.formGroup {
    position: relative;
    display: flex;
    margin: 0 0 15px;
    & .label-text {
        font-family: 'Roboto-Bold';
    }
    & .input-text {
        font-family: 'Roboto-Regular';
        border: none;
        border-bottom: 1px solid rgb(195, 195, 195);
        padding: 5px 7px;
        font-size: 16px;
        max-width: 100%;
    }
    & .label-checkbox {
        font-family: 'Roboto-Bold';
    }
    & .input-checkbox {
        margin: 0 5px;
    }
    & textarea {
        font-family: 'Roboto-Regular';
        border: 1px solid rgb(195, 195, 195);
        border-radius: 5px;
        resize: vertical;
        padding: 5px 7px;
        font-size: 16px;
        max-width: 100%;
    }
    &.line {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
}