@import './font.scss';
@import 'libs/normalize';
@import 'components/all';

body {
    height: 100vh;
    font-family: 'Roboto-Regular';
}

.container {
    max-width: 1130px;
    width: 100%;
    // padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

img {
    max-width: 100%;
}

.page {
    margin-top: 100px;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.flex {
    display: flex;
    & > div {
        width: 50%;
    }
}

li::before {
    content: '\2E0B';
    margin-right: 5px;
}