@import './font.scss';
@import 'libs/normalize';
@import 'components/all';

body {
    height: 100vh;
    font-family: 'Roboto-Regular';
}

.container {
    max-width: 1130px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}