@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url("./fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("./fonts/Roboto-Black.ttf") format("truetype");
}
